<!--
=============================================
; Title: Nodebucket Capstone
; Author: Verlee Washington
; Date: 10/09/2020
; Description: About component html
;============================================
-->


<br /><br /><br /><br />
<div fxFlex="column" style="width: 70%;">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <p style="text-align: center">
        Since 2010 Nodebucket's goal has been to help customers complete milestones and
        journeys using one tool to get organized or stay organized. It has been our
        pleasure to help customers complete their tasks and impact their lives in such a
        powerful way. We plan to continue to grow with our customers and help them in the future.
      </p>
    </mat-card-content>

    <br /><br />

    <mat-card-content>
      <h2 style="text-align: center">
        Contact Us
      </h2>
    </mat-card-content>
  </mat-card>

  <br /><br /><br /><br />

<div fxLayout="row wrap" style="margin-left: 25%;">

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Toll-free: (800) 555-1212
        </p>
        <p>
          Direct: (901)-332-2021
        </p>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex>

    <mat-card class="mat-elevation-z0">
    <mat-card-title class ="card-title-icon">
      <mat-icon color="primary">mail_outline</mat-icon>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>
        nodebucket@ymail.com
      </p>
    </mat-card-content>
  </mat-card>
  </div>
</div>
</div>

