<!--
=============================================
; Title: Nodebucket Capstone
; Author: Verlee Washington
; Date: 09/24/2020
; Description: Base-layout component html
;============================================
-->

<div fxLayout="column">

    <!-- navigation -->
    <nav fxFlex>

      <mat-toolbar class="toolbar" color="primary">

        <!-- navbar container-->
        <div class="navbar-container">

          <!-- logo -->
          <mat-toolbar-row>

          <div class='logo' routerLink="/">
            <img src="./assets/nodebucketLogo.png" height="65" />
          </div>

         <!--<button class="logo" routerLink="/" mat-button>Nodebucket</button>-->

        <div style="width: 80%">
          <div fxLayout="row wrap" fxLayoutAlign="end start">
            <button class="navbar-link" mat-button routerLink="/get-started">Get started</button>
            <button class="navbar-link" mat-button routerLink="/about">About</button>
            <button class="navbar-link" mat-button routerLink="/sign-out">Sign out</button>
          </div>
        </div>

        <!--
          <button class="navbar-link" routerLink="/" mat-button>Get started</button>
          <button class="navbar-link" routerLink="/" mat-button>About</button>
          <button class="navbar-link" routerLink="/" mat-button>Sign out</button>
        -->
      </mat-toolbar-row>
      </div>
      </mat-toolbar>
    </nav>

    <!-- main content -->
    <div fxFlex>
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

  </div>
